body {
    background-color: rgb(253, 251, 251); /* REQUISITO*/
    margin: 0;
}

#cabecalho {
    background-color: green;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0;          /* REQUISITO*/
    color: white;
    height: 140px;
    z-index: 1;
}

#titulo {
    text-align: center;
    display: block;
}

nav {
    color: white;
    font-size: 16px;
    margin: 15px;;
}

#minha_foto {
    width: 250px;
    display: block;
    position: relative;
    top: 140px;
    margin-left: 15px;
    margin-top: 15px;
}

#licoes_aprendidas, #licoes_a_aprender {
    display: inline-block;
}

.lado-esquerdo {
    display: inline-block;
    left: 10px;
}

.lado-direito {
    display: inline-block;
    left: 50px;
    top: 100px;
}

section, article, aside, footer {
    font-family: 'PT Serif', serif;
    position: relative;
    font-weight: 500;
    top: 130px;
}

section, #licoes, article, aside {
    margin-left: 15px;
}

article, aside {
    border: 1px dotted rgb(71, 70, 70);
    border-radius: 5px;
    box-shadow: 2px 2px;
    width: 40%;
    padding: 20px;
}

#rodape {
    background-color: green;
    color: white;
    height: 85px;
    text-align: center;
    width: 100%;
   
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: 500;
}

footer p {
    padding-top: 20px;
}

footer a {
    position: relative;
    display: block;
    font-size: 18px;
}

td {
    border: 2px solid white;
}

td:hover, a:hover {
    font-size: 20px;
    background-color: rgb(2, 83, 2);
}

a:hover {
    font-size: 20px;
    background-color: rgb(2, 83, 2);
}